# This is Git's per-user configuration file.
[user]
	name = Jon Roberts
	email = jon.roberts.8@gmail.com
[credential]
	helper = store
[init]
  defaultBranch = main
	# https://git-scm.com/docs/git-init#_template_directory
	# copy any file that does not start with a dot (.) from the template directory
  # templatedir = ~/.git_template
[alias]
  aa = add --all
  ap = add --patch
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  # ci = commit -v
  co = checkout
  pf = push --force-with-lease
  st = status
	br = branch
	co = checkout
	f = fetch origin
	df = diff
	dc = diff --cached
	lg = log -p
	lgn = log --name-only
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --name-only
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	wow = log --all --graph --decorate --oneline --simplify-by-decoration
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	ls = ls-files
	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
	rb = rebase -i origin/main
[commit]
	template = ~/.gitmessage.txt
[core]
	excludesfile = ~/.global-gitignore
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	autocrlf = input
	safecrlf = true
[branch]
	sort = -committerdate
[push]
  default = current
	autosetupremote = true
[diff]
	algorithm = histogram
  colorMoved = zebra
[merge]
	conflictstyle = zdiff3
	tool = meld
	ff = only
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	whitespace = red reverse

[safe]
	directory = /workspaces
	directory = /workspaces/core
	directory = /workspaces/jons-rails-template
